%header.green.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.nopadding.inline-block
		=image_tag "tiendus.png", width:"100"
		%h1.white-text
			%strong 
				Ofrece tus productos digitales a tu audiencia 13:47

		.col-md-10.nopadding.inline-block
			